body{
    background-color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.wrap{
    
   
    width: 800px;
    height: 700px;
}

h1,h3{
    font-family:  'Comic Sans MS';
    text-align: center;
}
.p-name{
    font-family:  'Comic Sans MS';
    margin-top: 5px;
    text-align: center;
    padding:10px 0px 10px 0px ;
}

.img-wrap-div{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.btn-div{
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    margin-top: 40px;

}

.button {
    position: relative;
    background-color: #4CAF50;
    border-radius: 15px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  footer{
    font: "Material Design Icons";
  }